@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #2e0a0c;
  --black: #424242;
  --white: #fff;
  --deep-yellow: #db9630;
  --yellow: #ffda7b;
  --blue-black: #212542;
  --grey: #e5e5e5;
  --deep-grey: #a5a5a5;
  --light-yellow: #fffefa;
  --light-blue: #fbfbff;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: 0.2s;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

section {
  padding: 5rem 2rem 5rem;
  overflow-x: hidden;
}
